*{
    margin:0;
    padding:0;
}
body{
    width:100%;
}
h1{
    text-align: center;
}
.max-div{
    width:90%;
    margin:0 auto;
    border:1px solid #ccc;
    margin-top:20px;
    padding-bottom:20px;
}
h3{
    height:50px;
    line-height:50px;
    background-color: #ccc;
}
.top .max-div{
    height:50px;
}
.top p{
    font-size: 1.4em;
    width:33%;
    display: inline-block;
    line-height: 50px;
}
li{
    margin-left:50px;
    line-height: 30px;
    font-size: 1em;
    margin-top:10px;
}
input{
    margin-left:70px;
}
li p{
    font-size: 0.8em;
}
input{
    height:25px;
    border-radius:4px;
}
textarea{
    margin:0 auto;
    display: block;
    margin-top:20px;
    width:80%;
    height:10em;
}
button{
    display: block;
    background-color: #1b6d85;
    text-align: center;
    color:#ccc;
    margin:0 auto;
    font-size: 1.2em;
    line-height: 45px;
    height:45px;
    width:150px;
    border-radius: 20px;
}
.button{
    margin-top:20px;
}
